<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix=".php">./tests/backend/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix=".php">./tests/backend/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="APP_ENV" value="local"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="DB_CONNECTION" value="mysql_testing"/>
    <env name="DB_DATABASE" value="testing"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <directory suffix=".php">app/Models</directory>
      <directory suffix=".php">app/Exceptions</directory>
      <directory suffix=".php">app/Http/Middleware</directory>
      <directory suffix=".php">app/Console</directory>
    </exclude>
  </source>
</phpunit>
