$alert-icon-color: #e0c857;
$danger-icon-color: #eb4e2c;
$info-icon-color: #4a54ea;
$success-icon-color: #12c4a1;
$pop-up-success-color: #2aa36a;
$table-line-divider-color: #096452;
$black-color: #000000;
$pop-up-font-color: #bcbcbc;
$divider-component-color: #04fac9;
$icon-input-background-icon: #a7d7cf;
$default-card-background-color: #2a2a38;
$white-color: #ffffff;
$form-switch-color: #198754;