/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2px);
    }
}

.animate-icon-left {
    animation: slide-left 0.8s ease-out 1;
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2px);
    }
}

.animate-icon-right {
    animation: slide-right 0.8s ease-out 1;
}

.center-ion-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-icon {
    font-size: 1.8em;
}

.no-break {
    white-space: nowrap;
}

.skeleton-load-size {
    height: 10px;
}

.full-width-badge {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}
