includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - ../../app/

    level: 5

    ignoreErrors:
        - '#Match expression does not handle remaining values: int<min, 0>\|int<13, max>#'
        - '#Unreachable statement - code above always terminates.#'
        - '#Method App\\Providers\\AuthServiceProvider::getUserDB\(\) should return App\\Models\\User\|null but returns Illuminate\\Database\\Eloquent\\Model\|null.#'
        - '#Method App\\Services\\Auth\\AuthService::findUserForAuth\(\) should return App\\Models\\User\|null but returns Illuminate\\Database\\Eloquent\\Model\|null.#'
        - '#Parameter \#1 \$tenant of method App\\Services\\Database\\DatabaseConnectionService::connectTenant\(\) expects App\\Models\\User\\Tenant, Illuminate\\Database\\Eloquent\\Model given.#'
        - '#Method App\\Modules\\Invoice\\Service\\InvoiceListService::validateFilterDateQueryParams\(\) never assigns null to \&\$queryParams so it can be removed from the by-ref type.#'
        - '#Property App\\Providers\\AuthServiceProvider::\$policies \(array<class-string, class-string>\) does not accept default value of type array<string, string>.#'
